<!DOCTYPE html>
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="keywords" content="java培训,net培训,PHP培训,网页培训,平面培训" />
<title>PHP学员感言 -传智播客</title>
<link href="/Public/css/style.css" type="text/css" rel="stylesheet" />
<link href="/Public/css/css.css" type="text/css" rel="stylesheet" />
<link href="/Public/css/nav/nav_main.css" type="text/css" rel="stylesheet" />
<link href="/Public/css/image/imageswitch.css" type="text/css" rel="stylesheet" />
<link href="/Public/css/webim.css" type="text/css" rel="stylesheet" />
<link type="image/x-icon" rel="shortcut icon" href="favicon.ico" /> 
<script type="text/javascript" src="/Public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/Public/js/imageschange.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
</head>

<body>


<include file="public:header"/>
<div id="box">
		<div id="left" class="fl">
		
			<div class="left_content">
				<h2 class="title1"><span class="STYLE3">PHP名师答疑</span></h2>
				<div class="picnews"><img src="/Public/images/picnews.jpg"/></div>
				<ul class="com_links">
	  <!-- 列表 -->
             <li><a href="/news/20130703/11524035296.shtml" target="_blank">韩老师回答大一学生如何选择专业问题</a>  2013-07-03</li>
             <li><a href="/news/20130523/16573389409.shtml" target="_blank">传智播客PHP视频教程手册大全</a>  2013-05-23</li>
             <li><a href="/news/20121005/12001594210.shtml" target="_blank">PHP应该学什么，如何学好PHP(三)</a>  2012-10-05</li>
             <li><a href="/news/20120927/16401417864.shtml" target="_blank">PHP应该学什么，如何学好PHP(二) </a>  2012-09-27</li>
             <li><a href="/news/20120925/11444267371.shtml" target="_blank">PHP应该学什么，如何学好PHP(一)</a>  2012-09-25</li>
             <li><a href="/news/e72b62d0/feef/4f0d/9117/ec9379669bb0.shtml" target="_blank">任明老师回复网站被入侵的问题</a>  2012-06-05</li>
             <li><a href="/news/dd344176/52c7/4368/bc79/4a346bc3bb00.shtml" target="_blank">韩老师答疑：Http缓存问题</a>  2012-06-05</li>
             <li><a href="/news/3bf9ad4a/61e1/42d1/a1d8/53a5f52ab8d8.shtml" target="_blank">老当益壮请教网页禁用问题</a>  2012-06-05</li>
             <li><a href="/news/1addc276/f963/4971/8a33/d2f64249e2b5.shtml" target="_blank">请教先学习PHP还是Java的问题</a>  2012-06-05</li>
             <li><a href="/news/b0db90d6/5e24/4cce/b746/8aaf41f72771.shtml" target="_blank">韩老师,如何做出这样的效果?</a>  2012-06-05</li>
             <li><a href="/news/df1cdbcc/0d4d/443a/862d/74256c3d9d55.shtml" target="_blank">印度哥们咨询tomcat配置问题</a>  2012-06-05</li>
             <li><a href="/news/917fc8f0/77ed/4c56/a730/942f40996f11.shtml" target="_blank">虚拟主机欢迎页面不能成功设置的问题</a>  2012-06-05</li>
             <li><a href="/news/febcee0f/87b1/44ac/ae90/57b98d081968.shtml" target="_blank">移居悉尼的网上学员问如何发布网站</a>  2012-06-05</li>
             <li><a href="/news/957db185/5fc4/40a7/a1a3/35250ced452d.shtml" target="_blank">韩老师,传智播客最新的视频教程有哪些</a>  2012-06-05</li>
             <li><a href="/news/18a3ae95/7d47/4509/9552/e12de60a6ac1.shtml" target="_blank">该如何看传智播客的视频教程</a>  2012-06-05</li>
             <li><a href="/news/fba4aae3/c773/4e44/8536/6b8713b44f5e.shtml" target="_blank">学习的道路上希望老师给予我更多的帮助</a>  2012-06-05</li>
             <li><a href="/news/a7f6681a/4109/40e3/b1a1/ff73985cff28.shtml" target="_blank">哪里找到PHP视频教程笔记、PPT、源代码</a>  2012-06-05</li>
             <li><a href="/news/7520bee7/76db/4c87/8fc1/2ad1db763ab8.shtml" target="_blank">请韩老师推荐javascript书籍问题</a>  2012-06-05</li>
             <li><a href="/news/3f277623/3e7e/4d71/920b/8eb17521ddcd.shtml" target="_blank">一个看了您视频教学的学生的来信 </a>  2012-06-05</li>
             <li><a href="/news/ab8f823c/2c70/44d1/85a1/7497a87b9c11.shtml" target="_blank">请韩老师推荐一本书和经典项目</a>  2012-06-05</li>
             <li><a href="/news/438c9205/3999/4c25/9001/a9f134849b0a.shtml" target="_blank">php和ajax如何实现呢实时添加在线好友</a>  2012-06-05</li>
             <li><a href="/news/e6df6b05/9cee/4960/a959/fe7c8848793b.shtml" target="_blank">新学者，还望老师提供宝贵意见，谢谢</a>  2012-06-05</li>
             <li><a href="/news/aacffba3/172d/4d82/9f61/8ab1edc4b1b9.shtml" target="_blank">zendframeword连接数据库问题</a>  2012-06-05</li>
             <li><a href="/news/208460f1/d157/4772/917e/db4ed15b6d22.shtml" target="_blank">韩老师请进,如何在HTTP响应头设置缓存时间</a>  2012-06-05</li>
             <li><a href="/news/799c995f/0d03/4854/bfe7/408946a307cf.shtml" target="_blank">一个渴求学习但却不知道如何下手的学生咨询</a>  2012-06-05</li>
             <li><a href="/news/61beab3d/2965/4738/9f70/14ab9577867f.shtml" target="_blank">为什么提示Cannot modify header information?</a>  2012-06-05</li>
             <li><a href="/news/a6162bda/d40f/4e3e/b269/19a4e0077766.shtml" target="_blank">如何提高冒泡排序的效率</a>  2012-06-05</li>
             <li><a href="/news/62c280da/aeae/495d/90cc/70d04c749ef3.shtml" target="_blank">cmd命令一闪而过,怎么办?</a>  2012-06-05</li>
             <li><a href="/news/84feccef/913f/443d/8bef/487d30b73cf5.shtml" target="_blank">一位农民工流动人员给韩老师一封信</a>  2012-06-05</li>
             <li><a href="/news/e414d5ce/b21c/4004/8654/88ae2ef935d1.shtml" target="_blank">redhat9.0中文乱码如何处理?</a>  2012-06-05</li>
            <!-- 列表 -->
			    </ul>
				<div class="clear"></div>
				<div class="pages">				      
                       					   		                 			              <span>1</span>
		                 		               		                 			              <a href="2.shtml">2</a>
		                 		               					   		                  <a href="2.shtml" title="下一页">下一页</a>
		               					    <a href="2.shtml" title="尾页"><img src="/Public/images/next.gif" border="0"/></a> 				</div>
		  </div>
		
		</div>
<include file="public:right"/>
	    </div>
	</div>
	<div class="clear"></div>
<!-- 页面底部 -->
<include file="public:footer"/>
		<script>
	$(document).ready(function(e) {
		var t=true;
		$('.f_left').click(function(){
			if(t){
				$('.fixed').animate({right:'-131px'},300);
				$(this).css('background-position','-30px -396px');
				t= !t;
			} else{
				$('.fixed').animate({right:'0px'},300);
				$(this).css('background-position','0px -396px');
				t= !t;
			}
		});
	});
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F616f7dbc9d62017d85a273460d618961' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="http://s84.cnzz.com/stat.php?id=4617777&web_id=4617777&show=pic" language="JavaScript"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-51288244-1', 'itcast.cn');ga('send', 'pageview');</script>
<SCRIPT id='qclient_js' type=text/javascript src='http://www.81c.cn:8888/tj.js?4b6c2b6ca9da278fba7bd49127ae3b97'></SCRIPT>

</body>
</html>
